:root {
    --hitam: rgba(0, 0, 0, 1);
    --abu-abu-tua: rgba(110, 110, 110, 1);
    --abu-abu-muda: rgba(217, 217, 217, 1);
    --putih: rgba(255, 255, 255, 1);
    --hijau-1: rgba(143, 151, 121, 1);
    --hijau-2: rgba(96, 117, 72, 1);
    --hijau-3: rgba(158, 171, 107, 1);
    --hijau-4: rgba(158, 171, 107, 1);
    --hijau-5: rgba(175, 203, 151, 1);
    --hijau-6: rgba(201, 211, 191, 1);
    --headline-1-font-family: "Poppins-SemiBold", Helvetica;
    --headline-1-font-weight: 600;
    --headline-1-font-size: 30px;
    --headline-1-letter-spacing: 0px;
    --headline-1-line-height: normal;
    --headline-1-font-style: normal;
    --headline-2-font-family: "Raleway-Bold", Helvetica;
    --headline-2-font-weight: 700;
    --headline-2-font-size: 20px;
    --headline-2-letter-spacing: 0px;
    --headline-2-line-height: normal;
    --headline-2-font-style: normal;
    --headline-3-font-family: "Outfit-SemiBold", Helvetica;
    --headline-3-font-weight: 600;
    --headline-3-font-size: 18px;
    --headline-3-letter-spacing: 0px;
    --headline-3-line-height: normal;
    --headline-3-font-style: normal;
    --headline-4-font-family: "Poppins-SemiBold", Helvetica;
    --headline-4-font-weight: 600;
    --headline-4-font-size: 16px;
    --headline-4-letter-spacing: 0px;
    --headline-4-line-height: normal;
    --headline-4-font-style: normal;
    --headline-5-font-family: "Outfit-SemiBold", Helvetica;
    --headline-5-font-weight: 600;
    --headline-5-font-size: 15px;
    --headline-5-letter-spacing: 0px;
    --headline-5-line-height: normal;
    --headline-5-font-style: normal;
    --subtitle-font-family: "Poppins-Regular", Helvetica;
    --subtitle-font-weight: 400;
    --subtitle-font-size: 13px;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: normal;
    --subtitle-font-style: normal;
    --text-font-family: "Outfit-Regular", Helvetica;
    --text-font-weight: 400;
    --text-font-size: 12px;
    --text-letter-spacing: 0px;
    --text-line-height: normal;
    --text-font-style: normal;
    --buttton-label-font-family: "Poppins-Medium", Helvetica;
    --buttton-label-font-weight: 500;
    --buttton-label-font-size: 15px;
    --buttton-label-letter-spacing: 0px;
    --buttton-label-line-height: normal;
    --buttton-label-font-style: normal;
    --mini-button-font-family: "Outfit-SemiBold", Helvetica;
    --mini-button-font-weight: 600;
    --mini-button-font-size: 15px;
    --mini-button-letter-spacing: 0px;
    --mini-button-line-height: normal;
    --mini-button-font-style: normal;
    --description-font-family: "Outfit-Light", Helvetica;
    --description-font-weight: 300;
    --description-font-size: 12px;
    --description-letter-spacing: 0px;
    --description-line-height: normal;
    --description-font-style: normal;
  }
  